# Categorical Variable Embeddings

In this activity we will build two different models

    For first model, categorical attributes are convered in to dummy numeric variables
    For second model, categorical attributes not convered in to numberic. Each level is given unique number starting with zero and categorical embedding is used

#### Load the requied libraries

In [1]:
import pandas as pd
import numpy as np

from keras.models import Sequential, Model
from keras.layers import Dense, Activation, Embedding, concatenate, Flatten, Input

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

#### Read the data

In [2]:
df = pd.read_csv('cmc.data', header=None, names=['Age','Education','H_education',
                                                 'num_child','Religion', 'Employ',
                                                 'H_occupation','living_standard',
                                                 'Media_exposure','contraceptive'])

#### Understand the data

In [3]:
df.shape

(1473, 10)

Look at first few records

In [4]:
df.head()

,Age,Education,H_education,num_child,Religion,Employ,H_occupation,living_standard,Media_exposure,contraceptive
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

Summary statistics

In [5]:
df.describe(include='all')

,Age,Education,H_education,num_child,Religion,Employ,H_occupation,living_standard,Media_exposure,contraceptive
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

Type of all the attributes

In [6]:
df.dtypes

Age                int64
Education          int64
H_education        int64
num_child          int64
Religion           int64
Employ             int64
H_occupation       int64
living_standard    int64
Media_exposure     int64
contraceptive      int64
dtype: object

Identify the unique values for each of the attributes

In [7]:
for i in df.columns.values:
    print (i)
    print (pd.value_counts(df[i].values))

Age
25    80
26    69
32    64
30    64
28    63
35    62
24    61
22    59
27    59
29    59
36    57
33    55
37    51
34    50
21    48
31    46
23    44
38    44
47    43
45    41
42    40
44    39
43    34
39    34
40    34
41    34
48    30
20    28
49    23
46    22
19    18
17     8
18     7
16     3
dtype: int64
Education
4    577
3    410
2    334
1    152
dtype: int64
H_education
4    899
3    352
2    178
1     44
dtype: int64
num_child
2     276
1     276
3     259
4     197
5     135
0      97
6      92
7      49
8      47
9      16
11     11
10     11
12      4
13      2
16      1
dtype: int64
Religion
1    1253
0     220
dtype: int64
Employ
1    1104
0     369
dtype: int64
H_occupation
3    585
1    436
2    425
4     27
dtype: int64
living_standard
4    684
3    431
2    229
1    129
dtype: int64
Media_exposure
0    1364
1     109
dtype: int64
contraceptive
1    629
3    511
2    333
dtype: int64

Observation:

    Education, H_education, Religion, Employ, H_occupation, living_standard, Media_exposure and Contraceptive are having fixed set of values. Even though they are number they are Categorical Attributes.

Note: 
    
    Religion, Employ and Media_exposure are Categorical attributes with only two values/levels.
    Even after converting them to numeric using dummification, they will still have same 0 and 1 values, so directly took them as Numeric attributes.

##### Following two cells are for explination purpose

In [8]:
pd.value_counts(df.contraceptive.values)

1    629
3    511
2    333
dtype: int64

In [9]:
pd.value_counts(df.contraceptive.values-1)

0    629
2    511
1    333
dtype: int64

For second model, each level/value in each independent categorical attribute is represented as number starting with zero 

    All categorical attributes has levels starting with 1, so substract one.

In [10]:
df[['Education', 'H_education', 'H_occupation', 'living_standard', 'contraceptive']] = df[['Education', 'H_education', 'H_occupation', 'living_standard', 'contraceptive']] -1

In [11]:
edu_ind_attr = df.Education.values
h_edu_ind_attr = df.H_education.values
h_occ_ind_attr = df.H_occupation.values
liv_std_ind_attr = df.living_standard.values

Convert the attributes to appropriate type

In [12]:
for col in ['Education', 'H_education', 'H_occupation', 'living_standard', 'contraceptive']:
    df[col] = df[col].astype('category')

In [13]:
df.dtypes

Age                   int64
Education          category
H_education        category
num_child             int64
Religion              int64
Employ                int64
H_occupation       category
living_standard    category
Media_exposure        int64
contraceptive      category
dtype: object

Summary Statistics

In [14]:
df.describe(include = "all")

,Age,Education,H_education,num_child,Religion,Employ,H_occupation,living_standard,Media_exposure,contraceptive
count,1473.000000,1473.0,1473.0,1473.000000,1473.000000,1473.000000,1473.0,1473.0,1473.000000,1473.0
unique,NaN,4.0,4.0,NaN,NaN,NaN,4.0,4.0,NaN,3.0
top,NaN,3.0,3.0,NaN,NaN,NaN,2.0,3.0,NaN,0.0
freq,NaN,577.0,899.0,NaN,NaN,NaN,585.0,684.0,NaN,629.0
mean,32.538357,NaN,NaN,3.261371,0.850645,0.749491,NaN,NaN,0.073999,NaN
std,8.227245,NaN,NaN,2.358549,0.356559,0.433453,NaN,NaN,0.261858,NaN
min,16.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN
25%,26.000000,NaN,NaN,1.000000,1.000000,0.000000,NaN,NaN,0.000000,NaN
50%,32.000000,NaN,NaN,3.000000,1.000000,1.000000,NaN,NaN,0.000000,NaN
75%,39.000000,NaN,NaN,4.000000,1.000000,1.000000,NaN,NaN,0.000000,NaN
max,49.000000,NaN,NaN,16.000000,1.000000,1.000000,NaN,NaN,1.000000,NaN

#### Missing value imputation

In [15]:
0.9866301014616683df.isnull().sum()

Age                0
Education          0
H_education        0
num_child          0
Religion           0
Employ             0
H_occupation       0
living_standard    0
Media_exposure     0
contraceptive      0
dtype: int64

#### Select only numeric independent attributes

In [16]:
num_ind_attr_names = df.select_dtypes(include=['int64']).columns

In [17]:
num_ind_attr = df[num_ind_attr_names]

In [18]:
num_ind_attr.head()

   Age  num_child  Religion  Employ  Media_exposure
0   24          3         1       1               0
1   45         10         1       1               0
2   43          7         1       1               0
3   42          9         1       1               0
4   36          8         1       1               0

#### Min Max Scaling

In [19]:
scaler = MinMaxScaler()

scaled_num_ind_attr = scaler.fit_transform(num_ind_attr)

In [20]:
scaled_num_ind_attr

array([[0.24242424, 0.1875    , 1.        , 1.        , 0.        ],
       [0.87878788, 0.625     , 1.        , 1.        , 0.        ],
       [0.81818182, 0.4375    , 1.        , 1.        , 0.        ],
       ...,
       [0.6969697 , 0.5       , 1.        , 0.        , 0.        ],
       [0.51515152, 0.25      , 1.        , 0.        , 0.        ],
       [0.03030303, 0.0625    , 1.        , 1.        , 0.        ]])

#### Select categorical attributes

In [21]:
cat_attr_names = df.select_dtypes(include=['category']).columns

cat_attr_names

Index(['Education', 'H_education', 'H_occupation', 'living_standard',
       'contraceptive'],
      dtype='object')

In [22]:
cat_ind_attr_names = cat_attr_names[cat_attr_names != 'contraceptive']

print(cat_ind_attr_names)

cat_tar_attr_names = ['contraceptive']

Index(['Education', 'H_education', 'H_occupation', 'living_standard'], dtype='object')

#### Dummification 
    
    For first model, convert independetn categorical attributes to numeric using dummificcation
    
    Target categorical attribut has more than two level. For both the models, target categorical attribute is convert to numeric use dummification.

Convert independent categorical attribute to numeric using dummification

In [23]:
cat_ind_attr = pd.get_dummies(df[cat_ind_attr_names]).values

In [24]:
cat_ind_attr

array([[0, 1, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 1]], dtype=uint8)

In [25]:
cat_ind_attr.shape

(1473, 16)

Convert targeet categorical attribute to numeric using dummification

In [26]:
cat_tar_attr = pd.get_dummies(df[cat_tar_attr_names]).values

In [27]:
cat_tar_attr

array([[1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       ...,
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]], dtype=uint8)

In [28]:
cat_tar_attr.shape

(1473, 3)

In [29]:
n_edu_levels = np.size(np.unique(edu_ind_attr, return_counts=True)[0])
n_h_edu_levels = np.size(np.unique(h_edu_ind_attr, return_counts=True)[0])
n_h_occ_levels = np.size(np.unique(h_occ_ind_attr, return_counts=True)[0])
n_liv_std_levels = np.size(np.unique(liv_std_ind_attr, return_counts=True)[0])

In [30]:
print(n_edu_levels, n_h_edu_levels, n_h_occ_levels, n_liv_std_levels)

4 4 4 4

In [31]:
scaled_num_ind_attr_train, scaled_num_ind_attr_test, \
cat_ind_attr_train, cat_ind_attr_test, \
edu_ind_attr_train, edu_ind_attr_test, \
h_edu_ind_attr_train, h_edu_ind_attr_test, \
h_occ_ind_attr_train, h_occ_ind_attr_test, \
liv_std_ind_attr_train, liv_std_ind_attr_test, \
Y_train, Y_test = train_test_split(scaled_num_ind_attr,
                                                         cat_ind_attr, 
                                                         edu_ind_attr, 
                                                         h_edu_ind_attr,
                                                         h_occ_ind_attr,
                                                         liv_std_ind_attr,
                                                         cat_tar_attr,
                                                         test_size=0.1, random_state=123)

### Build First Model

In [32]:
X_train = np.hstack((scaled_num_ind_attr_train, cat_ind_attr_train))
X_test = np.hstack((scaled_num_ind_attr_test, cat_ind_attr_test))

In [33]:
model = Sequential()
model.add(Dense(12, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(3, activation='softmax'))

In [34]:
model.compile(loss='categorical_crossentropy', optimizer='adagrad', metrics=['accuracy'])

In [35]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 12)                264
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 39
=================================================================
Total params: 303
Trainable params: 303
Non-trainable params: 0
_________________________________________________________________

In [36]:
model.fit(X_train, Y_train, epochs=100, verbose=2)

Epoch 1/100
 - 0s - loss: 1.0781 - acc: 0.3781
Epoch 2/100
 - 0s - loss: 1.0345 - acc: 0.4332
Epoch 3/100
 - 0s - loss: 1.0201 - acc: 0.4460
Epoch 4/100
 - 0s - loss: 1.0126 - acc: 0.4694
Epoch 5/100
 - 0s - loss: 1.0071 - acc: 0.4657
Epoch 6/100
 - 0s - loss: 1.0031 - acc: 0.4657
Epoch 7/100
 - 0s - loss: 1.0003 - acc: 0.4664
Epoch 8/100
 - 0s - loss: 0.9979 - acc: 0.4762
Epoch 9/100
 - 0s - loss: 0.9958 - acc: 0.4740
Epoch 10/100
 - 0s - loss: 0.9937 - acc: 0.4717
Epoch 11/100
 - 0s - loss: 0.9918 - acc: 0.4838
Epoch 12/100
 - 0s - loss: 0.9903 - acc: 0.4845
Epoch 13/100
 - 0s - loss: 0.9889 - acc: 0.4830
Epoch 14/100
 - 0s - loss: 0.9875 - acc: 0.4860
Epoch 15/100
 - 0s - loss: 0.9863 - acc: 0.4875
Epoch 16/100
 - 0s - loss: 0.9851 - acc: 0.4883
Epoch 17/100
 - 0s - loss: 0.9838 - acc: 0.4958
Epoch 18/100
 - 0s - loss: 0.9830 - acc: 0.4921
Epoch 19/100
 - 0s - loss: 0.9820 - acc: 0.4951
Epoch 20/100
 - 0s - loss: 0.9810 - acc: 0.4943
Epoch 21/100
 - 0s - loss: 0.9800 - acc: 0.4936
Epoch 22/100
 - 0s - loss: 0.9792 - acc: 0.4966
Epoch 23/100
 - 0s - loss: 0.9782 - acc: 0.5004
Epoch 24/100
 - 0s - loss: 0.9774 - acc: 0.5011
Epoch 25/100
 - 0s - loss: 0.9765 - acc: 0.5011
Epoch 26/100
 - 0s - loss: 0.9758 - acc: 0.5004
Epoch 27/100
 - 0s - loss: 0.9749 - acc: 0.5004
Epoch 28/100
 - 0s - loss: 0.9743 - acc: 0.5019
Epoch 29/100
 - 0s - loss: 0.9734 - acc: 0.5011
Epoch 30/100
 - 0s - loss: 0.9727 - acc: 0.5049
Epoch 31/100
 - 0s - loss: 0.9721 - acc: 0.5042
Epoch 32/100
 - 0s - loss: 0.9714 - acc: 0.5034
Epoch 33/100
 - 0s - loss: 0.9708 - acc: 0.5072
Epoch 34/100
 - 0s - loss: 0.9701 - acc: 0.5034
Epoch 35/100
 - 0s - loss: 0.9696 - acc: 0.5087
Epoch 36/100
 - 0s - loss: 0.9689 - acc: 0.5042
Epoch 37/100
 - 0s - loss: 0.9684 - acc: 0.5079
Epoch 38/100
 - 0s - loss: 0.9677 - acc: 0.5034
Epoch 39/100
 - 0s - loss: 0.9671 - acc: 0.5064
Epoch 40/100
 - 0s - loss: 0.9665 - acc: 0.5094
Epoch 41/100
 - 0s - loss: 0.9660 - acc: 0.5079
Epoch 42/100
 - 0s - loss: 0.9656 - acc: 0.5102
Epoch 43/100
 - 0s - loss: 0.9653 - acc: 0.5087
Epoch 44/100
 - 0s - loss: 0.9646 - acc: 0.5079
Epoch 45/100
 - 0s - loss: 0.9641 - acc: 0.5102
Epoch 46/100
 - 0s - loss: 0.9636 - acc: 0.5132
Epoch 47/100
 - 0s - loss: 0.9633 - acc: 0.5094
Epoch 48/100
 - 0s - loss: 0.9625 - acc: 0.5049
Epoch 49/100
 - 0s - loss: 0.9623 - acc: 0.5140
Epoch 50/100
 - 0s - loss: 0.9618 - acc: 0.5125
Epoch 51/100
 - 0s - loss: 0.9614 - acc: 0.5162
Epoch 52/100
 - 0s - loss: 0.9609 - acc: 0.5102
Epoch 53/100
 - 0s - loss: 0.9605 - acc: 0.5185
Epoch 54/100
 - 0s - loss: 0.9600 - acc: 0.5117
Epoch 55/100
 - 0s - loss: 0.9596 - acc: 0.5185
Epoch 56/100
 - 0s - loss: 0.9592 - acc: 0.5162
Epoch 57/100
 - 0s - loss: 0.9588 - acc: 0.5155
Epoch 58/100
 - 0s - loss: 0.9584 - acc: 0.5192
Epoch 59/100
 - 0s - loss: 0.9581 - acc: 0.5147
Epoch 60/100
 - 0s - loss: 0.9577 - acc: 0.5185
Epoch 61/100
 - 0s - loss: 0.9572 - acc: 0.5185
Epoch 62/100
 - 0s - loss: 0.9569 - acc: 0.5192
Epoch 63/100
 - 0s - loss: 0.9565 - acc: 0.5170
Epoch 64/100
 - 0s - loss: 0.9562 - acc: 0.5215
Epoch 65/100
 - 0s - loss: 0.9559 - acc: 0.5170
Epoch 66/100
 - 0s - loss: 0.9554 - acc: 0.5200
Epoch 67/100
 - 0s - loss: 0.9552 - acc: 0.5223
Epoch 68/100
 - 0s - loss: 0.9548 - acc: 0.5200
Epoch 69/100
 - 0s - loss: 0.9545 - acc: 0.5223
Epoch 70/100
 - 0s - loss: 0.9542 - acc: 0.5208
Epoch 71/100
 - 0s - loss: 0.9539 - acc: 0.5223
Epoch 72/100
 - 0s - loss: 0.9535 - acc: 0.5185
Epoch 73/100
 - 0s - loss: 0.9532 - acc: 0.5230
Epoch 74/100
 - 0s - loss: 0.9530 - acc: 0.5230
Epoch 75/100
 - 0s - loss: 0.9526 - acc: 0.5245
Epoch 76/100
 - 0s - loss: 0.9523 - acc: 0.5223
Epoch 77/100
 - 0s - loss: 0.9520 - acc: 0.5215
Epoch 78/100
 - 0s - loss: 0.9516 - acc: 0.5238
Epoch 79/100
 - 0s - loss: 0.9514 - acc: 0.5230
Epoch 80/100
 - 0s - loss: 0.9512 - acc: 0.5260
Epoch 81/100
 - 0s - loss: 0.9507 - acc: 0.5245
Epoch 82/100
 - 0s - loss: 0.9506 - acc: 0.5230
Epoch 83/100
 - 0s - loss: 0.9503 - acc: 0.5253
Epoch 84/100
 - 0s - loss: 0.9500 - acc: 0.5245
Epoch 85/100
 - 0s - loss: 0.9497 - acc: 0.5253
Epoch 86/100
 - 0s - loss: 0.9494 - acc: 0.5223
Epoch 87/100
 - 0s - loss: 0.9491 - acc: 0.5291
Epoch 88/100
 - 0s - loss: 0.9488 - acc: 0.5275
Epoch 89/100
 - 0s - loss: 0.9486 - acc: 0.5298
Epoch 90/100
 - 0s - loss: 0.9483 - acc: 0.5268
Epoch 91/100
 - 0s - loss: 0.9482 - acc: 0.5275
Epoch 92/100
 - 0s - loss: 0.9479 - acc: 0.5291
Epoch 93/100
 - 0s - loss: 0.9475 - acc: 0.5253
Epoch 94/100
 - 0s - loss: 0.9473 - acc: 0.5298
Epoch 95/100
 - 0s - loss: 0.9471 - acc: 0.5291
Epoch 96/100
 - 0s - loss: 0.9469 - acc: 0.5291
Epoch 97/100
 - 0s - loss: 0.9466 - acc: 0.5321
Epoch 98/100
 - 0s - loss: 0.9463 - acc: 0.5283
Epoch 99/100
 - 0s - loss: 0.9461 - acc: 0.5283
Epoch 100/100
 - 0s - loss: 0.9458 - acc: 0.5291

In [37]:
model.evaluate(X_test, Y_test)

148/148 [==============================] - 0s 211us/step

[0.9842306536597174, 0.44594594675141414]

In [38]:
p = model.predict(X_test)
p[:5]

array([[0.67804044, 0.13495673, 0.18700287],
       [0.38627872, 0.28715387, 0.32656747],
       [0.50075567, 0.18780819, 0.3114361 ],
       [0.35034138, 0.11731823, 0.5323404 ],
       [0.51958174, 0.0918436 , 0.38857463]], dtype=float32)

## Building Second Model

Word Embedding for Education

In [39]:
edu_input = Input(shape=(1, ), name="edu")
edu_embed = Embedding(input_dim=n_edu_levels, output_dim=4)(edu_input)

Word Embedding for H_education

In [40]:
h_edu_input = Input(shape=(1, ), name="h_edu")
h_edu_embed = Embedding(input_dim=n_h_edu_levels, output_dim=4)(h_edu_input)

Word Embedding for H_occupation

In [41]:
h_occ_input = Input(shape=(1, ), name="occ")
h_occ_embed = Embedding(input_dim=n_h_occ_levels, output_dim=4)(h_occ_input)

Word Embedding for living_standard

In [42]:
liv_input = Input(shape=(1, ),name="Liv")
liv_embed = Embedding(input_dim=n_liv_std_levels, output_dim=4 )(liv_input)

Concatenating output from all 4 embedding layers and Flatten it

In [43]:
merge_cat_emb = concatenate([edu_embed, h_edu_embed, h_occ_embed, liv_embed])
merge_cat_emb_flat = Flatten()(merge_cat_emb)

In [44]:
num_input = Input(shape=(scaled_num_ind_attr_train.shape[1], ))

merge_two = concatenate([merge_cat_emb_flat, num_input])

merged_layer = Dense(8, activation= 'relu')(merge_two)
output_layer = Dense(3, activation='softmax')(merged_layer)

model = Model(inputs=[edu_input, h_edu_input, h_occ_input, liv_input, num_input], outputs=output_layer)

In [45]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
edu (InputLayer)                (None, 1)            0
__________________________________________________________________________________________________
h_edu (InputLayer)              (None, 1)            0
__________________________________________________________________________________________________
occ (InputLayer)                (None, 1)            0
__________________________________________________________________________________________________
Liv (InputLayer)                (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 4)         16          edu[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 4)         16          h_edu[0][0]
__________________________________________________________________________________________________
embedding_3 (Embedding)         (None, 1, 4)         16          occ[0][0]
__________________________________________________________________________________________________
embedding_4 (Embedding)         (None, 1, 4)         16          Liv[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 1, 16)        0           embedding_1[0][0]
                                                                 embedding_2[0][0]
                                                                 embedding_3[0][0]
                                                                 embedding_4[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 16)           0           concatenate_1[0][0]
__________________________________________________________________________________________________
input_1 (InputLayer)            (None, 5)            0
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 21)           0           flatten_1[0][0]
                                                                 input_1[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 8)            176         concatenate_2[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 3)            27          dense_3[0][0]
==================================================================================================
Total params: 267
Trainable params: 267
Non-trainable params: 0
__________________________________________________________________________________________________

In [46]:
model.compile(loss='categorical_crossentropy', optimizer='adagrad', metrics=['accuracy'])

In [47]:
model.fit([edu_ind_attr_train, h_edu_ind_attr_train,
           h_occ_ind_attr_train, liv_std_ind_attr_train, 
           scaled_num_ind_attr_train], 
          y=Y_train, 
          epochs=100, verbose=2)

Epoch 1/100
 - 0s - loss: 1.0800 - acc: 0.4219
Epoch 2/100
 - 0s - loss: 1.0383 - acc: 0.4377
Epoch 3/100
 - 0s - loss: 1.0256 - acc: 0.4400
Epoch 4/100
 - 0s - loss: 1.0179 - acc: 0.4543
Epoch 5/100
 - 0s - loss: 1.0129 - acc: 0.4551
Epoch 6/100
 - 0s - loss: 1.0097 - acc: 0.4634
Epoch 7/100
 - 0s - loss: 1.0069 - acc: 0.4634
Epoch 8/100
 - 0s - loss: 1.0047 - acc: 0.4634
Epoch 9/100
 - 0s - loss: 1.0029 - acc: 0.4672
Epoch 10/100
 - 0s - loss: 1.0012 - acc: 0.4709
Epoch 11/100
 - 0s - loss: 0.9996 - acc: 0.4785
Epoch 12/100
 - 0s - loss: 0.9983 - acc: 0.4762
Epoch 13/100
 - 0s - loss: 0.9971 - acc: 0.4853
Epoch 14/100
 - 0s - loss: 0.9957 - acc: 0.4845
Epoch 15/100
 - 0s - loss: 0.9947 - acc: 0.4815
Epoch 16/100
 - 0s - loss: 0.9937 - acc: 0.4868
Epoch 17/100
 - 0s - loss: 0.9928 - acc: 0.4815
Epoch 18/100
 - 0s - loss: 0.9919 - acc: 0.4830
Epoch 19/100
 - 0s - loss: 0.9910 - acc: 0.4853
Epoch 20/100
 - 0s - loss: 0.9901 - acc: 0.4891
Epoch 21/100
 - 0s - loss: 0.9891 - acc: 0.4845
Epoch 22/100
 - 0s - loss: 0.9885 - acc: 0.4875
Epoch 23/100
 - 0s - loss: 0.9877 - acc: 0.4936
Epoch 24/100
 - 0s - loss: 0.9871 - acc: 0.4898
Epoch 25/100
 - 0s - loss: 0.9864 - acc: 0.4898
Epoch 26/100
 - 0s - loss: 0.9857 - acc: 0.4913
Epoch 27/100
 - 0s - loss: 0.9854 - acc: 0.4891
Epoch 28/100
 - 0s - loss: 0.9846 - acc: 0.4906
Epoch 29/100
 - 0s - loss: 0.9841 - acc: 0.4906
Epoch 30/100
 - 0s - loss: 0.9835 - acc: 0.4898
Epoch 31/100
 - 0s - loss: 0.9829 - acc: 0.4898
Epoch 32/100
 - 0s - loss: 0.9824 - acc: 0.4906
Epoch 33/100
 - 0s - loss: 0.9820 - acc: 0.4906
Epoch 34/100
 - 0s - loss: 0.9815 - acc: 0.4981
Epoch 35/100
 - 0s - loss: 0.9810 - acc: 0.4928
Epoch 36/100
 - 0s - loss: 0.9806 - acc: 0.4951
Epoch 37/100
 - 0s - loss: 0.9801 - acc: 0.4966
Epoch 38/100
 - 0s - loss: 0.9797 - acc: 0.4966
Epoch 39/100
 - 0s - loss: 0.9794 - acc: 0.4928
Epoch 40/100
 - 0s - loss: 0.9788 - acc: 0.4928
Epoch 41/100
 - 0s - loss: 0.9785 - acc: 0.4951
Epoch 42/100
 - 0s - loss: 0.9781 - acc: 0.5004
Epoch 43/100
 - 0s - loss: 0.9777 - acc: 0.5004
Epoch 44/100
 - 0s - loss: 0.9774 - acc: 0.4958
Epoch 45/100
 - 0s - loss: 0.9769 - acc: 0.4974
Epoch 46/100
 - 0s - loss: 0.9766 - acc: 0.5004
Epoch 47/100
 - 0s - loss: 0.9762 - acc: 0.4974
Epoch 48/100
 - 0s - loss: 0.9758 - acc: 0.4981
Epoch 49/100
 - 0s - loss: 0.9756 - acc: 0.4989
Epoch 50/100
 - 0s - loss: 0.9752 - acc: 0.4966
Epoch 51/100
 - 0s - loss: 0.9749 - acc: 0.5042
Epoch 52/100
 - 0s - loss: 0.9744 - acc: 0.4989
Epoch 53/100
 - 0s - loss: 0.9742 - acc: 0.5004
Epoch 54/100
 - 0s - loss: 0.9739 - acc: 0.5004
Epoch 55/100
 - 0s - loss: 0.9735 - acc: 0.5004
Epoch 56/100
 - 0s - loss: 0.9733 - acc: 0.5042
Epoch 57/100
 - 0s - loss: 0.9729 - acc: 0.5011
Epoch 58/100
 - 0s - loss: 0.9726 - acc: 0.5049
Epoch 59/100
 - 0s - loss: 0.9723 - acc: 0.5019
Epoch 60/100
 - 0s - loss: 0.9721 - acc: 0.4996
Epoch 61/100
 - 0s - loss: 0.9718 - acc: 0.5019
Epoch 62/100
 - 0s - loss: 0.9715 - acc: 0.5004
Epoch 63/100
 - 0s - loss: 0.9713 - acc: 0.5026
Epoch 64/100
 - 0s - loss: 0.9710 - acc: 0.4996
Epoch 65/100
 - 0s - loss: 0.9707 - acc: 0.4989
Epoch 66/100
 - 0s - loss: 0.9704 - acc: 0.5064
Epoch 67/100
 - 0s - loss: 0.9701 - acc: 0.5019
Epoch 68/100
 - 0s - loss: 0.9699 - acc: 0.5042
Epoch 69/100
 - 0s - loss: 0.9697 - acc: 0.5004
Epoch 70/100
 - 0s - loss: 0.9694 - acc: 0.4996
Epoch 71/100
 - 0s - loss: 0.9692 - acc: 0.5011
Epoch 72/100
 - 0s - loss: 0.9689 - acc: 0.4966
Epoch 73/100
 - 0s - loss: 0.9687 - acc: 0.5026
Epoch 74/100
 - 0s - loss: 0.9684 - acc: 0.5004
Epoch 75/100
 - 0s - loss: 0.9682 - acc: 0.5034
Epoch 76/100
 - 0s - loss: 0.9680 - acc: 0.5004
Epoch 77/100
 - 0s - loss: 0.9677 - acc: 0.5026
Epoch 78/100
 - 0s - loss: 0.9675 - acc: 0.5011
Epoch 79/100
 - 0s - loss: 0.9673 - acc: 0.4981
Epoch 80/100
 - 0s - loss: 0.9670 - acc: 0.5026
Epoch 81/100
 - 0s - loss: 0.9668 - acc: 0.5004
Epoch 82/100
 - 0s - loss: 0.9665 - acc: 0.5004
Epoch 83/100
 - 0s - loss: 0.9664 - acc: 0.5019
Epoch 84/100
 - 0s - loss: 0.9661 - acc: 0.5042
Epoch 85/100
 - 0s - loss: 0.9660 - acc: 0.5026
Epoch 86/100
 - 0s - loss: 0.9657 - acc: 0.5026
Epoch 87/100
 - 0s - loss: 0.9655 - acc: 0.5057
Epoch 88/100
 - 0s - loss: 0.9653 - acc: 0.5026
Epoch 89/100
 - 0s - loss: 0.9650 - acc: 0.5049
Epoch 90/100
 - 0s - loss: 0.9649 - acc: 0.5026
Epoch 91/100
 - 0s - loss: 0.9646 - acc: 0.5034
Epoch 92/100
 - 0s - loss: 0.9644 - acc: 0.5079
Epoch 93/100
 - 0s - loss: 0.9643 - acc: 0.5072
Epoch 94/100
 - 0s - loss: 0.9641 - acc: 0.5034
Epoch 95/100
 - 0s - loss: 0.9639 - acc: 0.5057
Epoch 96/100
 - 0s - loss: 0.9637 - acc: 0.5034
Epoch 97/100
 - 0s - loss: 0.9635 - acc: 0.5087
Epoch 98/100
 - 0s - loss: 0.9633 - acc: 0.5057
Epoch 99/100
 - 0s - loss: 0.9631 - acc: 0.5057
Epoch 100/100
 - 0s - loss: 0.9629 - acc: 0.5049

In [48]:
model.evaluate([edu_ind_attr_test, h_edu_ind_attr_test, h_occ_ind_attr_test, liv_std_ind_attr_test, scaled_num_ind_attr_test], Y_test)

148/148 [==============================] - 0s 422us/step

[0.9866301014616683, 0.46621621702168436]

In [49]:
p = model.predict([edu_ind_attr_test, h_edu_ind_attr_test, h_occ_ind_attr_test, liv_std_ind_attr_test, scaled_num_ind_attr_test])
p[:5]

array([[0.6850946 , 0.15213658, 0.16276884],
       [0.36661115, 0.29848167, 0.3349072 ],
       [0.46295297, 0.19897176, 0.33807522],
       [0.3921326 , 0.11621762, 0.49164972],
       [0.5592245 , 0.13062485, 0.3101507 ]], dtype=float32)